<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
</head>
<body>

<h1>Add Order</h1>

<form th:action="@{/orders/create}" method="post">
    <!-- Order ID -->
    <input type="hidden" name="id" th:value="${item.id}" />

    <!-- Order Name -->
    <label>Order Name:</label>
    <input type="text" name="name" th:value="${item.name}" required />
    <br/><br/>

    <!-- Customer select -->
    <label for="customer" class="form-label">Customer</label>
    <select class="form-select" id="customer" name="customer" required>
        <option value="">-- Choose Customer --</option>
        <option th:each="customer : ${customers}"
                th:value="${customer.id}"
                th:text="${customer.name}">
        </option>
    </select>
    <br/><br/>

    <button type="submit">Save</button>
</form>

<a th:href="@{/orders}">Back</a>

</body>
</html>
