<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<h1>
    Orders
</h1>

<a th:href="@{/orders/new}">Add a new order</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Order Name</th>
        <th>Customer</th>
        <th>Contract</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.customer.name}"></td>
        <td th:text="${item.contract}"></td>
        <td>
            <a th:href="@{'/orders/' + ${item.id} + '/order-lines'}">View Lines</a> |
            <a th:href="@{'/orders/' + ${item.id} + '/edit'}">Edit</a> |
            <a th:href="@{'/orders/' + ${item.id} + '/delete'}">Delete</a>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>