<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Contract</title>
</head>
<body>

<h1>Delete Contract</h1>

<p>Are you sure you want to delete this contract? :</p>
<ul>
    <li><strong>ID:</strong> <span th:text="${item.id}">ID</span></li>
    <li><strong>Contract Number:</strong> <span th:text="${item.contractNumber}"></span></li>
    <li><strong>Contract Type Id:</strong> <span th:text="${item.contractTypeId}"></span></li>
    <li><strong>Status:</strong> <span th:text="${item.status}"></span></li>
</ul>

<form th:action="@{'/contracts/' + ${item.id} + '/delete'}" method="post">
    <button type="submit">Delete</button>
    <a th:href="@{/contracts}" >Back</a>
</form>
</body>
</html>