<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
<h1>
    Contracte
</h1>

<a th:href="@{/contracts/new}">Adauga un contract nou</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Contract Number</th>
        <th>Contract Type ID</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.contractNumber}"></td>
        <td th:text="${item.contractTypeId}"></td>
        <td th:text="${item.status}"></td>
        <td>
            <a th:href="@{'/contracts/' + ${item.id} + '/delete'}">Sterge</a>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>