<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>

<h1>Adauga produs</h1>

<form th:action="@{/products/create}" th:object="${item}" method="post">
    <label>Nume:</label>
    <input type="text" th:field="*{id}" required />
    <br/>
    <br/>
    <label>Pret:</label>
    <input type="text" step="0.01" th:field="*{name}" required />
    <br/>
    <br/>
    <label>Stoc:</label>
    <input type="number" th:field="*{value}" required />
    <br/>
    <br/>
    <button type="submit">Save</button>
</form>

<a th:href="@{/products}">Back</a>
</body>
</html>