<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Product</title>
</head>
<body>

<h1>Sterge Produs</h1>

<p>Ești sigur că vrei să ștergi acest produs?</p>
<ul>
    <li><strong>ID:</strong> <span th:text="${item.id}">ID</span></li>
    <li><strong>Nume:</strong> <span th:text="${item.name}"></span></li>
    <li><strong>Value:</strong> <span th:text="${item.value}"></span></li>
</ul>

<form th:action="@{'/products/' + ${item.id} + '/delete'}" method="post">
    <button type="submit">Delete</button>
    <a th:href="@{/products}">Back</a>
</form>
</body>
</html>