<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>

<h1>Edit Product</h1>

<form th:action="@{/products/edit}" th:object="${item}" method="post">
    <input type="hidden" th:field="*{id}" required />
    <br/>
    <label>Product Name:</label>
    <input type="text" th:field="*{name}" required />
    <br/><br/>
    <input type="number" th:field="*{value}" required/>
    <br/><br/>
    <button type="submit">Save</button>
</form>

<a th:href="@{/products}">Back</a>

</body>
</html>
