<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1>
    Products
</h1>

<a th:href="@{/products/new}">Add a new product</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Product name</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.value}"></td>
        <td>
            <a th:href="@{'/products/' + ${item.id} + '/edit'}">Edit</a> |
            <a th:href="@{'/products/' + ${item.id} + '/delete'}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>