<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Unit of Measure</title>
</head>
<body>

<h1>Edit Unit of Measure</h1>

<form th:action="@{/units/edit}" th:object="${unit}" method="post">

    <input type="hidden" th:field="*{id}" />

    <label>Name:</label>
    <input type="text" th:field="*{name}" required />
    <br/><br/>

    <label>Symbol:</label>
    <input type="text" th:field="*{symbol}" required />
    <br/><br/>

    <button type="submit">Save</button>
</form>

<a th:href="@{/units}">Back</a>

</body>
</html>
