<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Units of Measure</title>
</head>
<body>
<h1>Units of Measure</h1>

<a th:href="@{/units/new}">Add a new unit</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Symbol</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="unit : ${units}">
        <td th:text="${unit.id}"></td>
        <td th:text="${unit.name}"></td>
        <td th:text="${unit.symbol}"></td>
        <td>
            <a th:href="@{'/units/' + ${unit.id} + '/edit'}">Edit</a> |
            <a th:href="@{'/units/' + ${unit.id} + '/delete'}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
